/** @format */

.container {
  margin-top: 60px;
  margin-left: 60px;
}
h1 {
  color: rgb(64, 82, 148);
}
h2 {
  color: rgb(55, 97, 248);
  font-size: 34px;
}
h3 {
  color: rgb(55, 97, 248);
  font-size: 18px;
}
h4 {
  color: rgb(55, 97, 248);
  font-size: 25px;
}

h5,
h6 {
  color: rgb(55, 97, 248);
}
.search-bar {
  border-color: rgb(55, 97, 248);
  border-radius: 4px;
  margin-top: 8px;
}
.icon {
  margin-bottom: 10px;
}
.button {
  background-color: rgb(249, 184, 63);
  border-radius: 4px;
  border-style: none;
  color: rgb(55, 97, 248);
  margin-top: 8px;
}
.Beach {
  border-radius: 10px;
  width: 234px;
}

.col-2 {
  text-align: center;
  border-style: none;
}

footer {
  color: rgb(232, 70, 151);
  margin-left: 75px;
  padding-top: 15px;
}
